body{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    background-color: #121212;
    color: white;
    overflow: auto;
}

i{
    color: white;
}
.intro{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    line-height: 0;
}
#web-icon{
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
}

.search-bar{
    background-color: white;
    display: flex;
    position:sticky;
    top: 0;
}

input:focus{
    outline: none;
}
.search-bar input{
    background-color: white;
    width: 95%;
    height: inherit;
}
.search-bar i{
    color: black;
    background-color: white;
    width: 5%;
    height: inherit;
    text-align: center;
}
.boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.box{
    background-color: #232323;
    width: 150px;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-left: 1.5rem;
    margin-top: 1rem;
    text-align: center;
    cursor: pointer;
}
.box img{
    width: 100%;
    border-radius: 0.5rem;
}
.social_media ul a{
    margin: 2rem;
}
.social_media ul a i{
    opacity: 0.7;
    transform: scale(2);
}
.social_media ul a i:hover{
    opacity: 1;
}